<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @post.format %>
</p>

<p>
  <strong>Length:</strong>
  <%= @post.length %>
</p>

<p>
  <strong>Size:</strong>
  <%= @post.size %>
</p>
<%= link_to 'Back', posts_path %>